{% extends "layout.html" %}

{% block judul_tab %} Kotak Masuk {% endblock %}

{% block judul %} Kotak Masuk {% endblock %}

{% block deskripsi %} Pesan dari pengguna lain akan muncul di sini {% endblock %}

{% block body %}

<div class="container">
    <main>
        <div class="col-md-9 mx-auto">

            <table class="table kotak-pesan shadow">

                <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Pesan</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td class="text-center"> Sabtu, 19 April 2007 10.15 </td>
                        <td>
                            <p class="overflow-auto mx-auto">
                                Hai apa kabar mu? Lorem ipsum dolor
                                sit amet consectetur adipisicing elit.
                                Quam dolor modi iure quo voluptatem id sint assumenda cumque, ipsam
                                impedit
                                ullam ipsum similique aperiam, laboriosam quisquam sed quis. Totam,
                                facilis.
                                Deleniti, eum! Nam deleniti molestiae quae error, delectus autem
                                animi
                                velit
                                corrupti, in explicabo suscipit sequi sint possimus eligendi beatae
                                necessitatibus consequatur? Sit, aliquid atque reprehenderit ipsum
                                placeat
                                quo rerum.
                                Dicta iure id architecto, optio dolorem corrupti nulla qui
                                consequuntur
                                quos
                                illo maxime facilis itaque at eius assumenda. Debitis quod optio
                                nemo
                                doloribus ad necessitatibus sit similique incidunt quasi corporis?
                                Lorem
                                ipsum dolor sit amet consectetur adipisicing elit. Ipsam ad eligendi
                                veniam
                                officia adipisci, itaque quia molestias inventore eaque iure? Nihil
                                iusto
                                modi repellat et eveniet impedit nisi, debitis fugiat?
                                Fugiat quaerat quisquam voluptatum esse nisi sequi, magni sint, quos
                                excepturi repudiandae inventore ex illo. Beatae dolorem quo
                                blanditiis,
                                temporibus doloremque aliquam commodi sequi harum ducimus modi earum
                                pariatur facilis! Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Quis
                                aperiam ut, officiis atque placeat ratione nesciunt. A quia quidem
                                perferendis
                                vel! Minus assumenda numquam voluptate architecto quae? Earum, eos
                                ipsum!
                                Exercitationem deserunt delectus assumenda suscipit neque voluptas
                                quam
                                molestiae id, accusamus, mollitia beatae doloremque, distinctio
                                perspiciatis
                                cupiditate dolorem inventore laboriosam. Corporis repudiandae
                                facilis quibusdam
                                rerum nobis repellat ea voluptates consequatur.
                                Praesentium excepturi nihil libero, repudiandae non quos vero
                                eveniet quo ipsa
                                beatae doloremque fuga possimus placeat culpa cumque molestias
                                cupiditate.
                                Cumque, porro similique perferendis qui recusandae fugit fuga eos
                                consectetur.
                                Minima accusamus non possimus, sunt quod delectus dicta praesentium
                                dolore
                                maxime. Alias, omnis quibusdam iste totam voluptas esse minus autem
                                ut magni
                                dolore itaque cumque, consectetur iure, veritatis enim expedita.
                                Beatae doloribus maiores adipisci asperiores qui, doloremque
                                excepturi minima
                                minus blanditiis quam, debitis soluta ex, eius dolorum earum aliquam
                                eveniet
                                nihil velit explicabo cupiditate. Necessitatibus ullam aliquam optio
                                suscipit.
                                Beatae.
                            </p>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </main>
</div>

{% endblock %}