{% extends "layout.html" %}

{% block judul_tab %} Kotak Surat {% endblock %}

{% block judul %} Kotak Surat {% endblock %}

{% block deskripsi %} Pesan dari orang lain akan muncul di sini. {% endblock
%}

{% block body %}
<div class="container">
    <main>
        <div class="col-md-9 mx-auto">

            <table class="table kotak-pesan shadow">

                <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Pesan</th>
                    </tr>
                </thead>

                <tbody>
                    {% for surat in surat %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td class="text-center"> {{ surat.tanggal}} </td>
                        <td>
                            <p class="overflow-auto mx-auto text-break">
                                {{ surat.pesan}}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </main>
</div>
{% endblock %}