{% extends "layout.html" %}

{% block judul_tab %} Daftar {% endblock %}

{% block judul %} Daftar {% endblock %}

{% block deskripsi %}
Mohon isi formulir berikut untuk membuat akun.
{% endblock %}

{% block body %}
<div class="container">
    <main>
        <form action="{{ url_for('daftar') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="row justify-content-center">
                <div class="form-floating mb-3 col-md-6">
                    {{ form.nama(class="form-control", placeholder="") }}
                    {{ form.nama.label }}
                    {% for err in form.nama.errors %}
                    <div class="text-danger mt-1">
                        {{ err }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-floating mb-3 col-md-6">
                    {{ form.kata_sandi(class="form-control", placeholder="") }}
                    {{ form.kata_sandi.label }}
                    {% for err in form.kata_sandi.errors %}
                    <div class="text-danger mt-1">
                        {{ err }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-floating mb-3 col-md-6">
                    {{ form.kata_sandi2(class="form-control", placeholder="") }}
                    {{ form.kata_sandi2.label }}
                    {% for err in form.kata_sandi2.errors %}
                    <div class="text-danger mt-1">
                        {{ err }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary"><i
                            class="bi bi-clipboard2-check"></i> Daftar</button>
                </div>
            </div>

        </form>
    </main>
</div>
{% endblock %}