{% extends "base.html" %}

{% block judul %} Daftar {% endblock %}

{% block deskripsi %}
Mohon isi formulir berikut untuk membuat akun.
{% endblock %}

{% block konten %}
<form action="{{ url_for('daftar') }}" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="row justify-content-center">
        <div class="form-floating mb-3 col-md-6">
            {{ form.nama(class="form-control", placeholder="") }}
            {{ form.nama.label }}
            {% for error in form.nama.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-floating mb-3 col-md-6">
            {{ form.password(class="form-control", placeholder="") }}
            {{ form.password.label }}
            {% for error in form.password.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-floating mb-3 col-md-6">
            {{ form.password2(class="form-control", placeholder="") }}
            {{ form.password2.label }}
            {% for error in form.password2.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 d-flex justify-content-end">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>

</form>
{% endblock %}