{% extends "base.html" %}

{% block judul %} Masuk {% endblock %}

{% block deskripsi %}
Jika tidak memiliki akun, daftar di <a href="#">sini</a>.
{% endblock %}

{% block konten %}
<form action="{{ url_for('login') }}" method="post">
    {{ form.hidden_tag() }}

    <div class="row justify-content-center">
        <div class="form-floating mb-3 col-md-6">
            <!-- <input required autofocus autocomplete="off" type="text"
                class="form-control" id="nama" placeholder="Nama Pengguna"
                name="nama" />
            <label for="nama">Nama Pengguna</label> -->
            {{ form.nama(class="form-control", placeholder="") }}
            {{ form.nama.label }}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-floating mb-3 col-md-6">
            <!-- <input required type="password" class="form-control" id="kata-sandi"
                placeholder="Kata Sandi" name="kata-sandi" />
            <label for="kata-sandi">Kata Sandi</label> -->
            {{ form.password(class="form-control", placeholder="") }}
            {{ form.password.label }}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 d-flex justify-content-end">
            <!-- <button type="submit" class="btn btn-primary"><i
                    class="bi bi-box-arrow-in-right"></i> Masuk</button> -->
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>

</form>
{% endblock %}